<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Recipe:</h3>

    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">recipe name: <span id="tutorial">(ex. "tomato pasta")</span></label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="recipe-desc">description: <span id="tutorial">(describe your dish!)</span></label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-ingre">ingredients: <span id="tutorial">(ex: "1 cup penne, 1
            jar pesto, 1/2 whole onion")</span></label>
        <textarea class="form-input" id="recipe-ingre" name="recipe-ingre"></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-cost">cost ($): <span id="tutorial"></span></label>
        <input class="form-input" type="number" id="recipe-cost" name="recipe-cost" />
      </div>
      <div class="form-group">
        <label for="recipe-instru">instructions: <span id="tutorial">(ex: "1. boil penne 2. cook pasta
            3. mix and serve")</span></label>
        <textarea class="form-input" id="recipe-instru" name="recipe-instru"></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-image">image link: <span id="tutorial">(optional)</span></label>
        <textarea class="form-input" rows="1" id="recipe-image" name="recipe-image"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if recipes.length}}
  <div class="col-md-6 recipe-list">
    <h3>Current Recipes:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{recipe.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>